.admin-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
}

.button-container {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 2rem;
}

.chart-container {
    width: 100%;
    max-width: 800px;
    min-height: 600px;
}

/* AdminPage.css */

.custom-tooltip {
    background-color: #ffffff;
    border: 1px solid #cccccc;
    padding: 8px;
}

.custom-tooltip .label {
    color: #333333;
}

.recharts-responsive-container{
    min-height: 600px;
}